<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../static/css/commons.css">
<th:block th:fragment="headerFragment">
  <div class="header">
    <div class="inner">
      <img class="logo" src="http://placehold.it/200x120" alt="LOGO">
      <form action="http://www.google.com/search" method="get" class="search-bar">
        <input type="text" name="txtSearch" placeholder="Search">
        <button type="submit" name="btnSearch" id="btnSearch" style="color: rgb(255, 0, 0);">
          <i class="material-icons">search</i>
        </button>
      </form>
      <div class="banner">
        <img src="http://placehold.it/220x120" alt="banner">
      </div>
    </div>
  </div>
</th:block>
</html>